<h1>Welcome, <%= @user.username %>!</h1><br>
<p>Here are all of your saved restaurants:</p>

<ul>
<% @restaurants.each do |restaurant| %>
    <li><a href="/restaurants/<%= restaurant.id %>"> <%= restaurant.name %> </a></li>
<% end %>
</ul>