<% if Helpers.logged_in?(session) %>
<h1>All Restaurants</h1>
<img src="../images/dining.jpeg" width="450" height="auto" alt="open image" ></img><br>
<br>

<% @restaurants.each do |restaurant| %>
    <a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a><br>
<% end %>

<% end %>