<h1>Add a Restaurant</h1>
<br>
<form action="/restaurants" method="POST">
    <h3><label>Name: </label></h3>
    <input type="text" name="name" /><br />
    <h3><label>City: </label></h3>
    <input type="text" name="city" /><br />
    <h3><label>Category: </label></h3>
    <input type="text" name="category" /><br />
    <h3><label>Notes: </label></h3>
    <input type="text" name="notes" /><br />
    <br>
    <button type="submit">Add Restaurant</button>
</form>