<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to the Restaurants Bucket List!</h1><br>
    <img src="./images/restaurant.jpeg" width="450" height="auto">
    <% if !Helpers.logged_in?(session) %>
    <h3>Create an account or log in to add restaurants and menu items to your bucket list.</h3>
      <p class="links"><a href="/signup">Sign Up</a></p>
      <p class="links"><a href="/login">Log In</a></p>
    <% end  %>
</div>