<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome!</h1>
    <% if !Helpers.logged_in?(session) %>
      <p class="links"><a href="/signup">Sign Up</a></p>
      <p class="links"><a href="/login">Log In</a></p>
    <% else %>
      <p class="links"><a href="/users/<%= @user.id %>">My Homepage</a></p>
      <p class="links"><a href="/logout">Log Out</a></p>
    <% end %>
</div>